html {
  box-sizing: border-box;
  line-height: 1.3;
  font-family: "Crimson Text", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  color: #222;
  padding-left: 1em;
  padding-right: 1rem;
}

article h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

article header {
  line-height: normal;
}

article header p {
  font-style: italic;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

.quote {

}

article ol {
  margin: auto;
}
